body {
    background-color: #262626;
}

.container {
    width: 100%;
    height: auto;
    
}
.frame {
    display: block;
    margin: 100px auto;
    width: 800px;
    height: auto;
    border: 2px solid #1f1f1f;
    align-items: center;
    box-shadow: 1px -10px 20px #020302;
    border-radius: 10px;
}
h1 {
    text-align: center;
    font-family: 'Germania One', cursive;
    font-size: 45px;
    color: #fff;
}
.first, .second, .third {
    width: 400px;
    color: #f1f1f1;
    text-align: center; 
    margin: 50px auto;
    display: block;
}
